<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABELA DE IDENTIFICAÇÃO DE PERIGOS POR GES (Grupo de Exposição Similar)</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/flex.css">
    <link rel="stylesheet" href="../stylesheets/componentes.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="main">
        <div class="row">
            <div class="col-md-12">
                <p id="titulo-plan">
                    <span>TABELA DE IDENTIFICAÇÃO DE PERIGOS POR GES (Grupo de Exposição Similar)</span>
                </p>
            </div>
            <div class="col-md-12">
                <div id="descr-setor">
                    <div class="header-setor">
                        <div class="row">
                            <div class="col-md-2">
                                <p>Id: <b><%=setor.id %></b> - </p>
                            </div>
                            <div class="col-md-4">
                                <p>Setor: <b><%=setor.setores %></b></p>
                            </div>
                            <div class="col-md-2">
                                <p>Nº Func. Masc: <b><%=setor.num_func_m %></b></p>
                            </div>
                            <div class="col-md-2">
                                <p>Nº Func. Fem: <b><%=setor.num_func_f %></b></p>
                            </div>
                            <div class="col-md-2">
                                <%  let numM = Number(setor.num_func_m);
                                    let numF = Number(setor.num_func_f);
                                    let totalFunc = numM + numF %>
                                <p>Total Func.: <b><%=totalFunc %></b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Descrição do setor</p>
                                <p><b><%=setor.descricao %></b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
               <div class="grupos-riscos flex flex-wrap">
                <% for(let g of gruposRiscos) { %>
                    <% let agente = agentesRiscos.filter(r => r.agentes_riscos.tipo == g.agentes_riscos.tipo) %>
                    <% if (g.agentes_riscos.tipo == "Físicos") { %>
                    <div>
                        <div class="li-fisico">
                            Físicos
                        </div>
                        <% agente.forEach(a => { %>
                            <div class="list-risco">
                                <div class="row">
                                    <div class="col-md-7">
                                        <%=a.agentes_riscos.risco %>
                                    </div>
                                    <div class="col-md-5">
                                        <a href="#"><i class="fas fa-edit"></i></a>
                                        <a href="#"><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <% } %>
                    <% if (g.agentes_riscos.tipo == "Químicos") { %>
                    <div>
                        <div class="li-quimico">
                            Químicos
                        </div>
                        <% agente.forEach(a => { %>
                            <div class="list-risco">
                                <div class="row">
                                    <div class="col-md-7">
                                        <%=a.agentes_riscos.risco %>
                                    </div>
                                    <div class="col-md-5">
                                        <a href="#"><i class="fas fa-edit"></i></a>
                                        <a href="#"><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <% } %>
                    <% if (g.agentes_riscos.tipo == "Biológicos") { %>
                    <div>
                        <div class="li-biologico">
                            Biológicos
                        </div>
                        <% agente.forEach(a => { %>
                            <div class="list-risco">
                                <div class="row">
                                    <div class="col-md-7">
                                        <%=a.agentes_riscos.risco %>
                                    </div>
                                    <div class="col-md-5">
                                        <a href="#"><i class="fas fa-edit"></i></a>
                                        <a href="#"><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <% } %>
                    <% if (g.agentes_riscos.tipo == "Ergonômicos") { %>
                    <div>
                        <div class="li-ergonomico">
                            Ergonômicos
                        </div>
                        <% agente.forEach(a => { %>
                            <div class="list-risco">
                                <div class="row">
                                    <div class="col-md-7">
                                        <%=a.agentes_riscos.risco %>
                                    </div>
                                    <div class="col-md-5">
                                        <a href="#"><i class="fas fa-edit"></i></a>
                                        <a href="#"><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <% } %>
                    <% if (g.agentes_riscos.tipo == "Acidentes") { %>
                    <div>
                        <div class="li-acidente">
                            Acidentes
                        </div>
                        <% agente.forEach(a => { %>
                            <div class="list-risco">
                                <div class="row">
                                    <div class="col-md-7">
                                        <%=a.agentes_riscos.risco %>
                                    </div>
                                    <div class="col-md-5">
                                        <a href="#"><i class="fas fa-edit"></i></a>
                                        <a href="#"><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <% } %>
                <% } %>
               </div>
            </div>
        </div>
    </div>
    
</body>

<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!-- Requisições ajax -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../javascripts/detalhesCliente.js"></script>
<script src="../javascripts/crudSetor.js"></script>
<script src="../javascripts/crudRiscos.js"></script>
<script src="../javascripts/dashboard.js"></script>
</html>